<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notification Success</title>
</head>
<body>
<p th:text="${notification.notificationId}"/>
<p th:text="${notification.notificationMessage}"/>

</body>
</html>